@model UserRegistrationViewModel

@{
    ViewData["Title"] = "Users";
}
<div class="page-header">
    <h1>@ViewBag["Title"]</h1>

</div>
<section id="users">
    @if (User.IsInRole("Administrator"))
    {
        <partial name="Partials/Sections/User/_AddUserForm" />
    }

    <partial name="Partials/Sections/User/_UserList" />

</section>
