@model ProjectsViewModel

<section class="projects-list">

    <div class="main card" data-project-id="1">
        <div class="card-header">
            <div class="project-image">
                <img src="~/images/Project.svg" alt="Template project" />
            </div>
            <h6 class="project-name">Website Redesign</h6>
            <span class="Client-name">GitLab Inc.</span>
            <div id="project-actions-container">
                <button type="button" data-type="dropdown" data-target="project-dropdown-1" class="btn-action">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="project-dropdown-1" class="dropdown">
                    <div class="dropdown-body">
                        <nav class="dropdown-actions">
                            <button data-type="modal" data-target="#editProjectModal" class="dropdown-action">
                                <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                                <span>Edit</span>
                            </button>
                            <button class="dropdown-action" href="#">
                                <i class="fa-duotone fa-solid fa-user-plus" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
                                <span>Add Member</span>
                            </button>
                        </nav>
                        <div class="divider">
                            <nav class="dropdown-actions">
                                <a class="dropdown-action remove" href="#">
                                    <i class="fa-duotone fa-solid fa-trash"></i>
                                    <span>Delete Project</span>
                                    <span>Edit</span>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>It is necessary to develop a ticket site parser in python.</p>
            </div>
            <div class="card-footer">
                <i class="fa-duotone fa-solid fa-clock"></i>
                <span>5 day left</span>
            </div>
            <div class="members">
                <div class="user-image">
                    <img src="~/images/Project.svg" alt="Template project" />
                </div>
                <div class="user-image">
                    <img src="~/images/Project.svg" alt="Template project" />
                </div>
            </div>
        </div>
    </div>
</section>

@* @await Html.PartialAsync("Partials/Sections/_AddProjectForm")
@await Html.PartialAsync("Partials/Sections/_EditProjectForm") *@