
@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);
    if (string.IsNullOrEmpty(provider))
        provider = "Local Identity";

    var email = User?.FindFirstValue(ClaimTypes.Email);
}
<header>
    <div class="account-info">
        <div class="provider">@provider</div>
        <div class="email">@email</div>
    </div>

    <div>
        <a asp-controller="Auth" asp-action="SignOut" class="btn-external btn-signout"><span>Sign out</span></a>
    </div>
</header>