<nav class="nav-links">
    <a class="nav-link" href="#">
        <i class="fa-duotone fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>
    <a class="nav-link active" href="#">
        <i class="fa-duotone fa-solid fa-user-group"></i>
        <span>Team Members</span>
    </a>
</nav>