@model MemberLoginForm
@{
    Layout = "_CleanLayout";
    ViewData["Title"] = "Login";
}
<section id="login" class="center-screen">
    <div class="surface">

    <form asp-controller="Auth" asp-action="Login" method="post" novalidate enctype="multipart/form-data">
        
        <h1>@ViewData["Title"]</h1>

        <div class="google-group">
            <img src="~/images/google-icon.svg" alt="Google Icon." />
            <h6>Login with Google</h6>
        </div>

        <span class="form-text">OR</span>

        <div class="form-group">
            <label asp-for="Email"></label>
             <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
        </div>

        <div class="check-group">
            <div class="remember-check">
                <input asp-for="RememberMe" type="checkbox" />
                <label asp-for="RememberMe">Remember Me</label>
            </div>
            <a href="#">Forgot Password?</a>
        </div>

        @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
        {
        <div class="form-alert">
            @ViewBag?.ErrorMessage
        </div>
        }

        <div class="form-group">
            <button type="submit" class="btn btn-submit btn-blue">Log In</button>
        </div>

        <div class="form-footer">
            <span>Don't have an account? </span>
            <a asp-controller="Auth" asp-action="SignUp">Sign Up</a>
        </div>

    </form>
    </div>
</section>