@model UserRegistrationViewModel

@using System.Security.Claims
@{
    var userRole = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
    //var userName = User.Claims.FirstOrDefault(x => x.Type == "DisplayName")?.Value;
}

<div id="addUserModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>New Member</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>


        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert-danger error">
                @ViewBag.ErrorMessage
            </div>
        }
        <form novalidate method="post" asp-action="Add" asp-controller="Users" enctype="multipart/form-data">
            <div class="image-previewer  circle">
                <img src="" class="image-preview circle" />
                <input asp-for="Image" accept="image/*" class="hide" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <div class="field-group">
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <div class="field-group">
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="field-group">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <div class="field-group">
                    <input asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <div class="field-group">
                    <input asp-for="Address" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <div class="field-group">
                    <input asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="field-group">
                    <label asp-for="Role"></label>
                    <span asp-validation-for="Role"></span>
                </div>
                <div class="field-group">
                   <select asp-for="Role" class="user-select-auto" asp-for="Role" asp-items="ViewBag.Roles" required>
                        <option selected value="">Select User Role </option>
                        @if (userRole.Any())
                        {
                            <option value="Admin">@string.Join(", ", userRole)</option>
                            <option value="User">@string.Join(", ", userRole)</option>
                        }
                   </select>
                    
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Add Member</button>
        </form>

    </div>

</div>
